@font-face {
  font-family: 'Sergoe';
  src:  url('../assets/fonts/SFProDisplay-Bold.eot?pfj3cc');
  src:  url('../assets/fonts/SFProDisplay-Bold.eot?pfj3cc#iefix') format('embedded-opentype'),
  url('../assets/fonts/SFProDisplay-Bold.ttf?pfj3cc') format('truetype'),
  url('../assets/fonts/SFProDisplay-Bold.woff?pfj3cc') format('woff'),
  url('../assets/fonts/SFProDisplay-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src:  url('../assets/fonts/SFProDisplay-Heavy.eot?pfj3cc');
  src:  url('../assets/fonts/SFProDisplay-Heavy.eot?pfj3cc#iefix') format('embedded-opentype'),
  url('../assets/fonts/SFProDisplay-Heavy.ttf?pfj3cc') format('truetype'),
  url('../assets/fonts/SFProDisplay-Heavy.woff?pfj3cc') format('woff'),
  url('../assets/fonts/SFProDisplay-Heavy.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src:  url('../assets/fonts/SFProDisplay-Light.eot?pfj3cc');
  src:  url('../assets/fonts/SFProDisplay-Light.eot?pfj3cc#iefix') format('embedded-opentype'),
  url('../assets/fonts/SFProDisplay-Light.ttf?pfj3cc') format('truetype'),
  url('../assets/fonts/SFProDisplay-Light.woff?pfj3cc') format('woff'),
  url('../assets/fonts/SFProDisplay-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../assets/fonts/SFProDisplay-RegularItalic.ttf?pfj3cc') format('truetype'),
  url('../assets/fonts/SFProDisplay-RegularItalic.woff?pfj3cc') format('woff'),
  url('../assets/fonts/SFProDisplay-RegularItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src:  url('../assets/fonts/SFProDisplay-Medium.eot?pfj3cc');
  src:  url('../assets/fonts/SFProDisplay-Medium.eot?pfj3cc#iefix') format('embedded-opentype'),
  url('../assets/fonts/SFProDisplay-Medium.ttf?pfj3cc') format('truetype'),
  url('../assets/fonts/SFProDisplay-Medium.woff?pfj3cc') format('woff'),
  url('../assets/fonts/SFProDisplay-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src:  url('../assets/fonts/SFProDisplay-Regular.eot?pfj3cc');
  src:  url('../assets/fonts/SFProDisplay-Regular.eot?pfj3cc#iefix') format('embedded-opentype'),
  url('../assets/fonts/SFProDisplay-Regular.ttf?pfj3cc') format('truetype'),
  url('../assets/fonts/SFProDisplay-Regular.woff?pfj3cc') format('woff'),
  url('../assets/fonts/SFProDisplay-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src:  url('../assets/fonts/SFProDisplay-Semibold.eot?pfj3cc');
  src:  url('../assets/fonts/SFProDisplay-Semibold.eot?pfj3cc#iefix') format('embedded-opentype'),
  url('../assets/fonts/SFProDisplay-Semibold.ttf?pfj3cc') format('truetype'),
  url('../assets/fonts/SFProDisplay-Semibold.woff?pfj3cc') format('woff'),
  url('../assets/fonts/SFProDisplay-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src:  url('../assets/fonts/SFProDisplay-Thin.eot?pfj3cc');
  src:  url('../assets/fonts/SFProDisplay-Thin.eot?pfj3cc#iefix') format('embedded-opentype'),
  url('../assets/fonts/SFProDisplay-Thin.ttf?pfj3cc') format('truetype'),
  url('../assets/fonts/SFProDisplay-Thin.woff?pfj3cc') format('woff'),
  url('../assets/fonts/SFProDisplay-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src:  url('../assets/fonts/SFProDisplay-Ultralight.eot?pfj3cc');
  src:  url('../assets/fonts/SFProDisplay-Ultralight.eot?pfj3cc#iefix') format('embedded-opentype'),
  url('../assets/fonts/SFProDisplay-Ultralight.ttf?pfj3cc') format('truetype'),
  url('../assets/fonts/SFProDisplay-Ultralight.woff?pfj3cc') format('woff'),
  url('../assets/fonts/SFProDisplay-Ultralight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}