* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-shadow: none;
  border: none;
  border-radius: 0;
}

body {
  margin-bottom: 0;
  padding: 0;
  max-height: 100vh;
  line-height: 18px;
  font: 15px 'Segoe UI', serif;
}